# Build and Dependency directories
node_modules/
/build/

# Environment variables
.env

# Misc
.DS_Store
*.log

# IDE-specific files
.idea/
.vscode/

# Log files
*.log

# Local data directories and files
pids
*.pid

# Diretorios específicos
.DS_Store
npm-debug.log
yarn-error.log
