# Build and Dependency directories
/build/

# Environment variables
.env

# Misc
.DS_Store
*.log

# IDE-specific files
.idea/
.vscode/

# Local data directories and files
pids/
node_modules
AWSCLIV2.pkg
aws-replication-installer-init
aws/
awscliv2.zip
gagmaSeus/
quorum/
ssh-keygen
ssh-keygen.pub
ws/
gagmaSeus/
quorum/
