/* Motorcycle Store styles */
.header {
  background-color: #252525; /* Black */
  color: #ffa500; /* Orange */
  padding: 20px;
  text-align: center;
}

.navigation {
  background-color: #333333; /* Dark Gray */
  padding: 10px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.navigation li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}

.footer {
  background-color: #252525; /* Black */
  color: #ffa500; /* Orange */
  padding: 20px;
  text-align: center;
}
