/* Overall app styling */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding-top: 64px; /* Account for fixed header */
}

/* Fixes for header and bottom navigation */
.App-header, .bottom-nav {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0; /* Header */
  z-index: 3;
}

.bottom-nav {
  top: auto; /* Remove for bottom navigation */
  bottom: 0;
  display: flex;
  justify-content: space-around;
  /* Ensuring that the bottom nav doesn't hide any content */
  padding-bottom: env(safe-area-inset-bottom);
}

/* Link styling within the header and bottom navigation */
.App-header a, .bottom-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  flex: 1; /* Allows items equality in space distribution */
  text-align: center; /* Ensures text is centered, matching ‘space-around’ behavior */
}

.App-header a:hover, .bottom-nav a:hover {
  color: #61dafb; /* Interactive color change */
}

/* Main Content Styling */
.App-content {
  padding: 20px;
  margin-top: 100px; /* Account for header */
  margin-bottom: 50px; /* Account for bottom nav - adjusted based on nav size */
  text-align: left; /* Adapt as needed */
}

/* Accounting Dropdown corrections and enhancement */
.Accounting-Section {
  position: relative;
}

.Accounting-List {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.Accounting-Section:hover .Accounting-List {
  display: block;
}

.Accounting-List li, .Accounting-List li a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Accounting-List li:hover, .Accounting-List li a:hover {
  background-color: #ddd;
  color: black;
}

/* General adjustment for images */
.App-image, .App-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}
